<h1>LOG IN PAGE</h1>
<div class="container">
<%= form_for :user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%=f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Log In" %>
<% end %>
</div>
==OR== <br><br>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>