

    <div class="field">
        <%= f.label :editing %>
        <%= f.number_field :editing %>
    </div>
    <div class="field">
        <%= f.label :cinematography %>
        <%= f.number_field :cinematography %>
    </div>
    <div class="field">
        <%= f.label :acting %>
        <%= f.number_field :acting %>
    </div>
    <div class="field">
        <%= f.label :special_effects %>
        <%= f.number_field :special_effects %>
    </div>
    <div class="field">
        <%= f.label :sound %>
        <%= f.number_field :sound %>
    </div>
    <div class="field">
        <%= f.label :plot %>
        <%= f.number_field :plot %>
    </div>
    <div class="field">
        <%= f.label :effort %>
        <%= f.number_field :effort %>
    </div>
    <div class="field">
        <%= f.label :watch_again %>
        <%= f.check_box :watch_again, {}, true %>
    </div>
    <div class="field">
        <%= f.label :comments %>
        <%= f.text_area :comments, size: "35x5" %>
    </div>


