
  
  <p class="list-group-item ranking-item">
    AVERAGE RANKINGS FROM ALL USERS
    <br>
      Editing: <%= rank.avg_editing %> <br>
      Cinematography: <%= rank.avg_cinematography %><br>
      Acting: <%= rank.avg_acting %><br>
      Special Effects: <%= rank.avg_special_effects %><br>
      Sound: <%= rank.avg_sound %><br>
      Plot: <%= rank.avg_plot %><br>
      Effort: <%= rank.avg_effort %><br>
      The Average of All Averages: <%= rank.avg_average %>    <br>
      Percentage of people who would watch it again: FIX THIS<br>
    <br>

    

  </p>





<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'ranking[ranking_params]'
  });
</script>