
  
  <p class="list-group-item ranking-item">
    == AVERAGE SCORES == <br>
    <font size ="2">(Currently ranked by <%= rank.ids.count %> users)</font>
    <br>
      <b>The Average of All Averages: overall_average<br></b>
      Editing: <%= rank.avg_editing %> <br>
      Cinematography: <%= rank.avg_cinematography %><br>
      Acting: <%= rank.avg_acting %><br>
      Special Effects: <%= rank.avg_special_effects %><br>
      Sound: <%= rank.avg_sound %><br>
      Plot: <%= rank.avg_plot %><br>
      Effort: <%= rank.avg_effort %><br>
      <b>Percentage of people who would watch it again: FIX THIS<br></b>
    
    <br>
  </p>





