<div class="container">
<%= render partial: 'layouts/errors', locals: {object: @ranking} %>
</div>

<div class="container">

<%= form_for([@movie, @ranking]) do |f| %>
  <%= f.hidden_field :movie_id%>   
  <%= f.hidden_field :user_id%>
    <%= render partial: 'ranking_form', locals: { f: f} %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>

</div>

