<p class="list-group-item ranking-item">
    <b>All Rankings for <i><%= @movie.title %></i></b>
    <br>
    <% @rankings.each do |rank| %>
      <br>
      Username: <%= rank.user.username %> <br>
      Editing: <%= rank.editing %><br>
      Cinematography: <%= rank.cinematography %><br>
      Acting: <%= rank.acting %><br>
      Special Effects: <%= rank.special_effects %><br>
      Sound: <%= rank.sound %><br>
      Plot: <%= rank.plot %><br>
      Effort: <%= rank.effort %><br>
      AVERAGE OF ABOVE RANKINGS: <%= rank.average %><br>
      Would watch it again: <%= rank.watch_again %><br>
      Comment: <%= rank.comments %><br>
    <% end %>
</p>