<div class="container"><h1>Add your Rankings for <i><%= @ranking.movie.title %></i></h1>
<h2>In this world, on a scale of 1-5, 5 is the worst.</h2></div>
<br>
<%= render partial: 'layouts/errors', locals: {object: @ranking} %>
<!-- make nested if/else at beginning? end of part 3 video -->

<%= form_for([@movie, @ranking]) do |f| %>
  <%= f.hidden_field :movie_id%>   
  <%= f.hidden_field :user_id%>
    <%= render partial: 'ranking_form', locals: {f: f} %>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>




<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'ranking[ranking_params]'
  });
</script>