      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :genre %>
        <%= f.text_field :genre %>
      </div>
      <div class="field">
        <%= f.label :rating %>
        <%= f.text_field :rating %>
      </div>
      <div class="field">
        <%= f.label :runtime %>
        <%= f.text_field :runtime %>
      </div>
      <div class="field">
        <%= f.label :year %>
        <%= f.text_field :year %>
      </div>
      <div class="field">
        <%= f.label :poster %>
        <%= f.file_field :poster %>
      </div>
    