<h1>All Movies</h1>

<table>
 <tr>
     <% @movies.each do |m| %>
      <% if m.poster.attached? %>
         <td> <%= image_tag(m.poster, :size => '150x200') %></td>
      <%else%>
         <td> <%= image_tag("the-title.jpg", :size => '150x200') %></td>
      <%end%>
     <td>
        Title: <%= m.title %><br>
        Genre: <%= m.genre %><br>
        Rating: <%= m.rating %><br>
        Year Released: <%= m.year %><br>
        <%= link_to "Rank #{m.title}", new_movie_ranking_path(m.id) %>     
        <% end %>
     </td>
  </tr>

</table>