
<h1 align="center">Your Favorite Flops Reviewed</h1>
<center><%= cu_header %><center><br><br>

<div class="all-movies">
   <% @movies.each do |m| %>
   <div class="card">  
      <% if m.poster.attached? %>
         <%= image_tag m.poster.variant(resize: "150x200"), class: "card-img-top" %> 
      <%else%>
         <%= image_tag("stinky-cheese.png", :size => '150x200', class: "card-img-top")  %>
      <%end%>
      <div class="card-body">
         <h4 class="card-title"><%= link_to "View and Rank", movie_path(m.id), class: "btn btn-success" %></h4>
            <p class="card-text">
            <b>Title:</b> <i><%= m.title %></i><br>
            <b>Genre:</b> <%= m.genre %><br>
            <b>Rating:</b> <%= m.rating %><br>
            <b>Runtime:</b> <%= m.runtime %><br>
            <b>Year Released:</b> <%= m.year %>
            </p>
      </div>
   </div>
   <% end %>
</div>

