<br>
<table align="center">
   <tr>
      <td align="center"><%= image_tag("Logo3.png", :size => "400x200") %></td>
   </tr>
   <tr><td><br></td></tr>
   <tr>
      <td align="center" margin-top="5px">(/SHläk/ /fläp/): A horrible movie that probably went straight to video.<br>
      <p>Search for a movie in the bar above. Log in or sign up to rank movies, but remember:<br>
      <i>the worst a movie is in a category, the higher you rank it.</i> </p>
      <h4>Movie Population: <%= Movie.count %><br>
      Contributing Residents: <%= User.count %></h4>
      </td>
   </tr>
</table>
<br><br>

<center><%= cu_header %><center><br><br>

<div class="all-movies">
   <% @movies.each do |m| %>
   <div class="card">  
      <% if m.poster.attached? %>
         <%= image_tag m.poster.variant(resize: "150x200"), class: "card-img-top" %> 
      <%else%>
         <%= image_tag("trashcans/TrashCanOGLid.png", :size => '150x200', class: "card-img-top")  %>
      <%end%>
      <div class="card-body">
         <h4 class="card-title"><%= link_to "View and Rank", movie_path(m.id), class: "btn btn-success" %></h4>
            <p class="card-text">
            <b>Title:</b> <i><%= m.title %></i><br>
            <b>Genre:</b> <%= m.genre %><br>
            <b>Rating:</b> <%= m.rating %><br>
            <b>Runtime:</b> <%= m.runtime %><br>
            <b>Year Released:</b> <%= m.year %>
            </p>
      </div>
   </div>
   <% end %>
</div>

<%= render 'layouts/header' %>
