<h1><%= @movie.title %>'s Page</h1>

<table>
 <tr>
      <% if @movie.poster.attached? %>
         <td> <%= image_tag(@movie.poster, :size => '150x200') %></td>
      <%else%>
         <td> <%= image_tag("the-title.jpg", :size => '150x200') %></td>
      <%end%>

     <td>
        Title: <%= @movie.title %><br>
        Genre: <%= @movie.genre %><br>
        Rating: <%= @movie.rating %><br>
        Year Released: <%= @movie.year %><br>  
        Created By: <%=  %>
     </td>
  </tr>
</table>

<h2> Rank this movie</h2>
<!-- add rankings -->