<div class="bigbox">
  <div class="box1">
    <%= poster? %>
    
  <br>
    <strong>Title:</strong> <i><%= @movie.title %></i><br>
    <strong>Genre:</strong> <%= @movie.genre %> <br>
    <strong>Rating:</strong> <%= @movie.rating %>   <br>
    <strong>Runtime:</strong> <%= @movie.runtime %><br>
    <strong>Year:</strong> <%= @movie.year %>   <br>
    <b>Created by:</b> <%= @movie.user.username %>  <br>
    <% if authorized? || (logged_in? && is_admin?) %>
      <%= link_to "Edit Movie", edit_movie_path(@movie) %> <br>
      <%= button_to "Delete Movie", movie_path, method: 'delete' %></td>
      <%end%>
  </div>
    
  </div class="box2">
    <%= link_to "Rank this Flop", new_movie_ranking_path(@movie) %>
    <% if @movie.rankings.empty? %>
        <h3>No rankings just yet; would you like to add the first?</h3> 
    <% else %>
      <%= render partial: "rankings/show", locals: {rank: @movie.rankings} %>
      <br>
      <%= render partial: "rankings/index", locals: {rank: @movie.rankings} %>
    <% end %>
  </div>
  
</div>