<h1><%= @ranking.movie.title %>'s Page</h1>

<table>
 <tr>
      <% if @ranking.movie.poster.attached? %>
         <td> <%= image_tag url_for(@ranking.movie.poster.variant(resize: “300X100”)) %></td>
      <%end%>

     <td>
        Title: <%= @ranking.movie.title %><br>
        Genre: <%= @ranking.movie.genre %><br>
        Rating: <%= @ranking.movie.rating %><br>
        Year Released: <%= @ranking.movie.year %><br>  
        Created By: <%= @ranking.movie.user.username %>
     </td>
  </tr>
</table>

<h2> Rank this movie</h2>
<!-- add rankings -->