<div class="container">
  <div class="item">
  <% if @movie.poster.attached? %>
    <%= image_tag @movie.poster.variant(resize: "150x200") %>
  <%else%>
    <%= image_tag("stinky-cheese.png", :size => '150x200') %>
  <%end%>
  <br>
    <strong>Title:</strong> <i><%= @movie.title %></i>
     <br>
    <strong>Genre:</strong> <%= @movie.genre %>
     <br>
    <strong>Rating:</strong> <%= @movie.rating %>
     <br>
    <strong>Year:</strong> <%= @movie.year %>  
    <hr color="black">
    <h5><%= link_to "Rank this Flop", new_movie_ranking_path(@movie) %> </h5> 

    <% if @movie.rankings.empty? %>
        <h3>No rankings just yet; would you like to add the first?</h3> 
    <% else %>
      <%= render partial: "rankings/show", locals: {rank: @movie.rankings} %>
    <% end %>
  </div>
</div>

      
  
<div class="container">
  <h1 class="review_title"><i><%= @movie.title %></i></h1>
  <br><br>
</div>







<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

