<div class="container">
  <div class="item">
  <% if @movie.poster.attached? %>
    <%= image_tag @movie.poster.variant(resize: "150x200") %>
  <%else%>
    <%= image_tag("stinky-cheese.png", :size => '150x200') %>
  <%end%>
  <br>
    <strong>Title:</strong> <i><%= @movie.title %></i>
     <br>
    <strong>Genre:</strong> <%= @movie.genre %>
     <br>
    <strong>Rating:</strong> <%= @movie.rating %>
     <br>
    <strong>Year:</strong> <%= @movie.year %>  
    <hr color="black">

    <%= render partial: "rankings/show", locals: {rank: @movie.rankings} %>
  </div>
</div>
  
<div class="col-md-7 col-md-offset-1">
  <h1 class="review_title"><i><%= @movie.title %></i></h1>
  <% if @movie.rankings.blank? %>
    <h3>No rankings just yet, would you like to add the first?</h3> 
  <% end %>
    <h3><%= link_to "Rank this Flop if you haven't", new_movie_ranking_path(@movie) %> </h3>
</div>







<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

