<br><br><br>
<div class="bigbox">
  <div class="box1">
  <br>
    <%= poster? %>
  <br>
    <strong>Title:</strong> <i><%= @movie.title %></i><br>
    <strong>Genre:</strong> <%= @movie.genre %> <br>
    <strong>Rating:</strong> <%= @movie.rating %>   <br>
    <strong>Runtime:</strong> <%= @movie.runtime %><br>
    <strong>Year:</strong> <%= @movie.year %>   <br>
    <b>Created by:</b> <%= @movie.user.username %>  <br>
    <% if authorized_movie? %>
      <%= link_to "Edit Movie", edit_movie_path(@movie) %> <br>
      <%= button_to "Delete Movie", movie_path, class: "btn btn-outline-success", method: 'delete' %></td>
    <%end%>
    <% if !has_ranked? %>
      <%= link_to "Rank this Flop", new_movie_ranking_path(@movie) %>
    <% end %>
  </div>
    
  </div class="box2">
    <% if @movie.rankings.empty? %>
        <h3>No rankings just yet; would you like to add the first?</h3> 
    <% else %>
      <%= render partial: "rankings/show", locals: {rank: @movie.rankings} %><br>
  </div>

  <div class ="box3">
      <%= render partial: "rankings/index", locals: {rank: @movie.rankings} %>
    <% end %>
  </div>
  
</div>