<br><br>
<div class="all-movies">

    <% @users.each do |u| %>
      <div class="user-card">
      <div class ="user-card-img">
        <% if u.avatar.attached? %>
           <%= image_tag u.avatar.variant(resize: "150x150") %> 
        <% else %>
           <%= image_tag("tommy-wiseau.jpg", :size => '150') %>
        <%end%>
        </div>
        <br>
        <b>Username:</b> <%= u.username %>
          <% if u.admin? %>
            <%= mail_to u.email, "(Admin)" %>
          <% end %>
        <br>
        <b>Favorite Schlock Flop:</b> <i><%= u.best_worst_movie %></i><br><br>
        <%= link_to "View User's Page", user_path(u)%>
        </div>
    <% end %>


</div>