<br><br>
<div class="users">

    <% @users.each do |u| %>
      <div class="userbox">
        <% if u.avatar.attached? %>
           <%= image_tag u.avatar.variant(resize: "75x75") %> 
        <% else %>
           <%= image_tag("tommy-wiseau.jpg", :size => '75') %>
        <%end%>
    
        Username: <%= u.username %>
          <% if u.admin? %>
            <%= mail_to u.email, "(Admin)" %>
          <% end %>
        <br>Favorite Schlock Flop: <i><%= u.best_worst_movie %></i><br><br>
        </div>
    <% end %>


</div>