<% if flash[:message] %>
    <%= flash[:message]%>
<% end %>
<% if current_user && current_user.admin %>
    <p><b>Welcome, ADMIN</b></p>
<% end %>

<table>
 <tr>
      <% if @user.avatar.attached? %>
         <td> <%= image_tag(@user.avatar, :size => '75x75') %></td>
         <% else %>
         <td> <%= image_tag("tommy-wiseau.jpg", :size => '75x75') %> </td>
      <%end%>

     <td>
        Username: <%= current_user.username %><br>
        Email: <%= current_user.email %><br>
        Favorite Schlock Flop: <%= current_user.best_worst_movie %><br>
     </td>
  </tr>
</table>


