<div class="all-movies">
   <div class="box1">
      <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "150x150") %> 
         <% else %>
          <%= image_tag("tommy-wiseau.jpg", :size => '150x150') %> 
      <%end%>
      <br><br>
      <b>Username:</b> <%= @user.username %><br>
      <b>Email:</b> <%= @user.email %><br>
      <b>Favorite Schlock Flop:</b> <i><%= @user.best_worst_movie %></i><br>
     
      <% if logged_in? || is_admin? %>
       <%= link_to "Edit Profile", edit_user_path %> <br><br>
       <%= button_to "Logout", logout_path, method: 'delete' %>
      <%end%>
   </div>

   <br><br>

   <div class="box2">
      Your Created Movies<br>
      <% user_movies.each do |um| %>
         <%= link_to "#{um[:title]}", movie_path(um)%><br>
      <%end%>
   </div>

   <div class="box3">
   Your Ranked Movies<br>
   <% @user.ranked_movies.each do |rm| %>
         <%= link_to "#{rm[:title]}", movie_path(rm)%><br>
   <%end%>
   </div>
   
</div> 
