<table>
 <tr>
      <% if @user.avatar.attached? %>
         <td> <%= image_tag @user.avatar.variant(resize: "75x75") %> </td>
         <% else %>
         <td> <%= image_tag("tommy-wiseau.jpg", :size => '75x75') %> </td>
      <%end%>

     <td>
        Username: <%= current_user.username %><br>
        Email: <%= current_user.email %><br>
        Favorite Schlock Flop: <i><%= current_user.best_worst_movie %></i><br>
     </td>
  </tr>
      <% if user_is_authenticated %>
         <tr>
           <td> <%= link_to "Edit Profile", edit_user_path %> </td>
         </tr>
      <%end%>

</table>


