
    <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "Home", '/', class: "btn btn-outline-success" %></li>
    <% if !current_user %>
      <li class="nav-item"><%= link_to "Log In", login_path, class: "btn btn-outline-success" %></li> 
      <li class="nav-item"><%= link_to "Sign Up", new_user_path, class: "btn btn-outline-success" %></li>
      <li class="nav-item"><%= link_to "View Movies", movies_path, class: "btn btn-outline-success" %></li> 
    <% else %>
      <li class="nav-item"><%= link_to "See All Users", users_path, class: "btn btn-outline-success" %></li>
      <li class="nav-item"><%= link_to "View Movies", movies_path, class: "btn btn-outline-success" %></li>
      <li class="nav-item"><%= link_to "Create Movie", new_movie_path, class: "btn btn-outline-success" %></li>
      <li class="nav-item"><%= link_to "#{current_user.username}'s Profile Page", user_path(current_user), class: "btn btn-outline-success" %></li>
      <li class="nav-item"><%= button_to "Logout", logout_path, class: "btn btn-outline-success", method: 'delete' %></li>
    <% end %>
    <%= form_tag movies_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <%= text_field_tag :search %>
        <%= submit_tag "Search Movies", name: nil, class: "btn btn-outline-success" %>
    <% end %>
    </ul>

  <div id="clearfix"></div>


