<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Home", '/', class: "navbar-brand" %> || 
      <% if current_user %>
        <%= link_to "#{current_user.username}'s profile", user_path(current_user), class:"navbar-brand"%> || 
        <%= link_to "View Movies", movies_path, class: "active" %> || 
        <%= link_to "See All Users", users_path, class: "active" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path, class: "active" %> || 
        <%= link_to "Log In", login_path, class: "active" %>
      <% end %>

      <%= form_tag movies_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        <p>
          <%= text_field_tag :search %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>