<!DOCTYPE html>
<html>
  <head>
    <title>Schlock Flop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'bootstrap4-neon-glow', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= render 'layouts/header' %>
    <br><br>

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-success") %>
		<% end %>

		<%= yield %>

    <br><br>
   
	
  </body>
</html>

